Brother.WebSites.Core/Service References/ProductRegistration/ProductRegistrationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDeviceToRegister">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceToRegister" nillable="true" type="tns:DeviceToRegister" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceToRegister" nillable="true" type="tns:ArrayOfDeviceToRegister" />
  <xs:complexType name="DeviceToRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddExtendedWarranty" type="xs:boolean" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendedWarrantyDetails" nillable="true" type="tns:ExtendedWarrantyDetails" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
      <xs:element minOccurs="0" name="PromotionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromotionType" type="tns:PromotionType" />
      <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceToRegister" nillable="true" type="tns:DeviceToRegister" />
  <xs:complexType name="ExtendedWarrantyDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarrantyPack" nillable="true" type="tns:WarrantyPack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedWarrantyDetails" nillable="true" type="tns:ExtendedWarrantyDetails" />
  <xs:complexType name="WarrantyPack">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarrantyPack" nillable="true" type="tns:WarrantyPack" />
  <xs:simpleType name="PromotionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="WarrantyUpgrade" />
      <xs:enumeration value="Cashback" />
      <xs:enumeration value="FreeProduct" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PromotionType" nillable="true" type="tns:PromotionType" />
</xs:schema>