Brother.WebSites.Core/Service References/ProductRegistration/ProductRegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="msmq_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductRegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductRegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductRegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Request" />
      <xsd:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductRegistrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.BP" />
      <xsd:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductRegistrationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductRegistrationService_RegisterMultipleProductsNewBp_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMultipleProductsNewBp" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_RegisterMultipleProductsExistingBp_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMultipleProductsExistingBp" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_RegisterProductNewBp_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterProductNewBp" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_RegisterProductExistingBp_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterProductExistingBp" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_DeregisterProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeregisterProduct" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_UpdateUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserData" />
  </wsdl:message>
  <wsdl:portType name="IProductRegistrationService">
    <wsdl:operation name="RegisterMultipleProductsNewBp">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/RegisterMultipleProductsNewBp" message="tns:IProductRegistrationService_RegisterMultipleProductsNewBp_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterMultipleProductsExistingBp">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/RegisterMultipleProductsExistingBp" message="tns:IProductRegistrationService_RegisterMultipleProductsExistingBp_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterProductNewBp">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/RegisterProductNewBp" message="tns:IProductRegistrationService_RegisterProductNewBp_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterProductExistingBp">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/RegisterProductExistingBp" message="tns:IProductRegistrationService_RegisterProductExistingBp_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeregisterProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/DeregisterProduct" message="tns:IProductRegistrationService_DeregisterProduct_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/UpdateUserData" message="tns:IProductRegistrationService_UpdateUserData_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="msmq" type="tns:IProductRegistrationService">
    <wsp:PolicyReference URI="#msmq_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="RegisterMultipleProductsNewBp">
      <soap12:operation soapAction="http://tempuri.org/IProductRegistrationService/RegisterMultipleProductsNewBp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterMultipleProductsExistingBp">
      <soap12:operation soapAction="http://tempuri.org/IProductRegistrationService/RegisterMultipleProductsExistingBp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterProductNewBp">
      <soap12:operation soapAction="http://tempuri.org/IProductRegistrationService/RegisterProductNewBp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegisterProductExistingBp">
      <soap12:operation soapAction="http://tempuri.org/IProductRegistrationService/RegisterProductExistingBp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeregisterProduct">
      <soap12:operation soapAction="http://tempuri.org/IProductRegistrationService/DeregisterProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserData">
      <soap12:operation soapAction="http://tempuri.org/IProductRegistrationService/UpdateUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductRegistrationService">
    <wsdl:port name="msmq" binding="tns:msmq">
      <soap12:address location="net.msmq://localhost/private/bie.ProductRegistrationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/private/bie.ProductRegistrationService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>