Brother.WebSites.Core/Service References/ProductLookup/ProductLookupService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductLookupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" />
  <xs:complexType name="SerialNumberLookupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" minOccurs="0" name="Models" nillable="true" type="q1:ArrayOfModelData" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialNumberLookupResponse" nillable="true" type="tns:SerialNumberLookupResponse" />
  <xs:complexType name="PurchaseDateValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseDateValidationResponse" nillable="true" type="tns:PurchaseDateValidationResponse" />
  <xs:complexType name="WarrantCodeValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarrantCodeValidationResponse" nillable="true" type="tns:WarrantCodeValidationResponse" />
  <xs:complexType name="ActivationCodeValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductSku" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivationCodeValidationResponse" nillable="true" type="tns:ActivationCodeValidationResponse" />
  <xs:complexType name="PromocodeValidationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" minOccurs="0" name="PromoType" type="q2:PromotionType" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromocodeValidationResponse" nillable="true" type="tns:PromocodeValidationResponse" />
  <xs:complexType name="WarrantyPackLookupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" minOccurs="0" name="WarrantyPacks" nillable="true" type="q3:ArrayOfWarrantyPack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarrantyPackLookupResponse" nillable="true" type="tns:WarrantyPackLookupResponse" />
  <xs:complexType name="RegisteredDevicesLookupResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product" minOccurs="0" name="RegisteredDevices" nillable="true" type="q4:ArrayOfDevice" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisteredDevicesLookupResponse" nillable="true" type="tns:RegisteredDevicesLookupResponse" />
  <xs:complexType name="ExtendedWarrantyActivationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedWarrantyActivationResponse" nillable="true" type="tns:ExtendedWarrantyActivationResponse" />
  <xs:complexType name="PromoAvailableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromoAvailableResponse" nillable="true" type="tns:PromoAvailableResponse" />
</xs:schema>