Brother.WebSites.Core/Service References/ProductLookup/ProductLookupService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductLookupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" />
  <xs:import schemaLocation="http://crmsvc.brotherdv2.eu/Product/ProductLookupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="LookupSerialNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LookupSerialNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="LookupSerialNumberResult" nillable="true" type="q1:SerialNumberLookupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePurchaseDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q2:guid" />
        <xs:element minOccurs="0" name="purchaseDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePurchaseDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="ValidatePurchaseDateResult" nillable="true" type="q3:PurchaseDateValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWarrantyPackActivationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q4:guid" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateWarrantyPackActivationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="ValidateWarrantyPackActivationCodeResult" nillable="true" type="q5:WarrantCodeValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateProductActivationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateProductActivationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="ValidateProductActivationCodeResult" nillable="true" type="q6:ActivationCodeValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePromotionCodeForProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q7:guid" />
        <xs:element minOccurs="0" name="promotionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePromotionCodeForProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="ValidatePromotionCodeForProductResult" nillable="true" type="q8:PromocodeValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarrantyPacksForProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q9:guid" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarrantyPacksForProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="GetWarrantyPacksForProductResult" nillable="true" type="q10:WarrantyPackLookupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessPartnerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisteredDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="GetRegisteredDevicesResult" nillable="true" type="q11:RegisteredDevicesLookupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateExtendedWarranty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q12:guid" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warrantyPackType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warrantyActivationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateExtendedWarrantyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="ActivateExtendedWarrantyResult" nillable="true" type="q13:ExtendedWarrantyActivationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPromotionAvailableForProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q14:guid" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPromotionAvailableForProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BIE.CRM.Core.Data.Product.Response" minOccurs="0" name="IsPromotionAvailableForProductResult" nillable="true" type="q15:PromoAvailableResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>